{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/react",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "env": {
    "browser": true,
    "node": false
  },
  "plugins": ["prettier", "cypress"],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js"]
      }
    ],
    "react/prop-types": "off"
  },
  "overrides": [
    {
      "files": ["package-scripts.js"],
      "env": {
        "browser": false,
        "node": true
      }
    },
    {
      "files": ["gatsby-*.js"],
      "env": {
        "browser": false,
        "node": true
      }
    },
    {
      "files": ["cypress/**/*.js"],
      "env": {
        "node": true,
        "cypress/globals": true
      },
      "rules": {
        "no-unused-vars": "off"
      }
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
